.App {
  text-align: center;
}

/* header { */
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
/* } */

header{
  background-color:rgba(252, 252, 252, 1);
  position:fixed;
  top:0;
  height:4em;
  display:flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width:100%;
  z-index:2;
  border-bottom: 1px solid gray;
}
nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
nav > *, header > a{
  margin:0.2em 1em;
}
input{
  padding:0 0;
}
h1{
  display:inline-block;
}

main{
  margin-top:3em;
  position:relative;
  /* height:100vh; */
  background: white;
}

button{
  height:2em;
  border:1px solid gray;
  /* background:none; */
  padding: 0.2em 0.2em;
  margin:0 0 0 0.2em;
  position: absolute;
  margin-top:0.2em;
}
button img{
  height:100%;
  /* display:inline-block; */
}

footer{
  padding:2em;
  background-color: rgb(212, 250, 255);
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
footer ul{
  list-style-type: none;
}
footer ul li{
  margin:0.5em;
}
footer a:hover{
  text-decoration: underline;
  color:navy;
}